# SWOOLE
SWOOLE_SERVER_ADDRESS=127.0.0.1
SWOOLE_SERVER_PORT=9504
#number of concerunt threads
#increase if you have multiple long requests
SWOOLE_WORKER_NUM=1
SWOOLE_HTTP_COMPRESSION=1

TELEGRAM_CLIENT_ADDRESS=127.0.0.1
TELEGRAM_CLIENT_PORT=9503

SELF_URL=http://127.0.0.1:9504

# SYSTEM
TIMEZONE=UTC
MEMORY_LIMIT=128M

# MAX size in bytes for media files from posts.
# 30 Mb
MAX_MEDIA_SIZE=31457280

# ACCESS CONTROL
# Allowed number of request per last 60 seconds from one IP
# Examples:
#   -1 - disable RPM check.
#   0 - deny all request
#   15 - 15 requests per last 60 seconds.
DEFAULT_RPM=15

# Allowed number of errors per minute
# Examples:
#   -1 - allow any number of errors
#   0 - ban after first error
#   2 - allow 2 errors per minute: ban on 3rd error.
DEFAULT_ERRORS_LIMIT=0;

# Json list of addresses with custom RPM and errors limits.
# Its a WHITELIST and a BLACKLIST at same time.
# Override DEDAULT_RPM and DEFAULT_ERRORS_LIMIT for individual IPs.
# Example:
#   {
#       \"127.0.0.1\": {\"rpm\":-1, \"errorsLimit\":-1},
#       \"1.1.1.1\": {\"rpm\":0,  \"errorsLimit\":0},
#       \"8.8.8.8\": {\"rpm\":0,  \"errorsLimit\":0}
#   }
CLIENTS_SETTINGS="{
    \"127.0.0.1\": {\"rpm\":-1, \"errorsLimit\":-1}
}"

# Set to 0 if you need to output any channels, chats, etc.
# Warnign! All client chats will be vissible to users.
# Make sure to protect this server from internet requests, if you disable this option.
ONLY_PUBLIC_CHANNELS=1

# LOGS
# You can use absolete or relative dir path. No trail slash.
# Remove LOGS_FILE value to enable echo logging
# Use date format symbols with prepend '%' http://php.net/manual/function.date.php
LOGS_DIR=log
LOGS_FILE=%Y-%m-%d_requests.log